.assessment_page{
        display: flex;

        .side_menu{
                height: 100vh;
                width: 248px;
                background: linear-gradient(to bottom, #008300 0%, #005700 100%);

                @media screen  and (max-width:975px){
                        display: none;
                }
        }

        .content{
                flex: 1;
                height: 100vh;
                overflow-y: scroll;
                padding: 30px;

                h1{
                        letter-spacing: 0.2px;
                        line-height: 38px;
                        font-size: 24px;
                        font-weight: 700;
                }

                .btnBox{
                        margin-top: 17px;
                        margin-bottom: 42px;    
                        max-width: 125px;
                        margin-left: auto;
                }
             
        }

        .pakam_table{
                background-color: #fff;
                position: relative;

                .tableControllers{
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        position: sticky;
                        top: 0;


                        button{
                                height: 100%;
                                padding: .1rem 0;
                                color: #464F54;

                                display: flex;
                                justify-content: center;
                                align-items: center;
                                gap: 8px;

                                svg{
                                        height: 24px; 
                                        width: 24px;

                                        *{ fill: #464F54 ;}
                                }
                        }

                        .pagination_controls{
                                display: flex;
                                justify-content: center;
                                align-items: center;
                                gap: 16px;

                                >span{
                                        color: #464F54;
                                        font-size: 14px;
                                        font-weight: 400;
                                        line-height: 16px;
                                        letter-spacing: 0.25px;
                                }

                                .p_btns{
                                        display: flex;
                                        justify-content: center;
                                        align-items: center;
                                        gap: 8px;

                                        span{
                                                display: flex;
                                                justify-content: center;
                                                align-items: center;
                                                border-radius: 50%;
                                                background-color: #FAFAFA;
                                                height: 32px; 
                                                width: 32px;
                                                cursor: pointer;


                                                svg{
                                                        height: 24px; 
                                                        width: 24px;
                                                        transition: opacity .25s ease-out;
        
                
                                                        *{ 
                                                                fill: #464F54 !important;
                                                        }
                                                }
                                                
                                                &:hover{
                                                        svg{
                                                                opacity: .5;
                                                        }
                                                }
                                        }

                                        
                                }
                        }
                }

                tr, .tableControllers{
                        border-bottom: 1px solid #E5E5E5;
                        padding: 8px 33px ;

                }

                overflow-x: scroll;

                table{
                        width: 100%;
                        table-layout: auto; 

                        tr{
                                display: flex;

                                th, td{
                                        flex: 2;
                                        display: flex;
                                        align-items: center;
                                        gap: 24px;
                                        text-align: left;
                                        min-width: 180px;
                                }

                                th{
                                        font-weight: 500;
                                        font-size: 16px;
                                        line-height: 22.4px;
                                        color: #222d33;
                                }
                                
                                td{
                                        color: #464f54;
                                        font-weight: 400;
                                        font-size: 14px;
                                        line-height: 20px;

                                        padding: 10.5px 0;
                                }

                                .qty{
                                        flex: 1;
                                }

                                .action{
                                        display: flex;
                                        justify-content: center;
                                        align-items: center;
                                        gap: 24px;

                                        .pekam_btn{
                                                border-radius: 6px;
                                                text-align: center;
                                                padding: 8px 16px;
                                                cursor: pointer;
                                                transition: all .25s ease-in-out;
                                                
                                                &.primary{
                                                        border: 1px solid border linear-gradient(178.54deg, #008300 -24.78%, #005700 98.76%);
                                                        background: #028301;
                                                        color: #fff;
                                                        transition: all .25s ease-in-out;

                                                        
                                                        &:hover, &:focus{
                                                                background: linear-gradient(178.54deg, #008300 -24.78%, #005700 98.76%), linear-gradient(0deg, #008300, #008300);
                                                        }
                                                }

                                                &.secondary{
                                                        border: 1px solid #1E1E1E;
                                                        color: #222D33;

                                                        &:hover, &:focus{
                                                                background: linear-gradient(178.54deg, #008300 -24.78%, #005700 98.76%), linear-gradient(0deg, #008300, #008300);
                                                                color: #fff;
                                                                border: 1px solid border linear-gradient(178.54deg, #008300 -24.78%, #005700 98.76%);
                                                        }
                                                }
                                        }
                                }

                                input{
                                        height: 22px;
                                        width: 22px;
                                        accent-color: var(--primary-green);
                                }
                        }
                }
        }
}