
.signup_form{
        width: 100%;
}

.signup_grid {
        margin-top: 35px;

        width: 100%;

        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 41px 43px;

        .grid-item {
                background-color: #3498db;
                color: #fff;
                padding: 20px;
                text-align: center;
        }

        @media (max-width: 720px) {
                grid-template-columns: 1fr;
        }
          
}

.signup_btn{
        width: 100%;
        max-width: 420px;   
        margin: 66px auto 16px auto  ;  

}